<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Log In</h3>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email,
                  required: false,
                  class: "email",
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  class: "password",
                  input_html: { autocomplete: "current-password" } %>
      <div class="remember">
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="button">
      <%= f.button :submit, "Log in", class: "btn btn-primary" %>
      </div>
  <% end %>
<div class="panel-footer"><%= render "devise/shared/links" %></div>
</div>
</div>
</div>
